version: '3.9'

services:

  redis:
    image: redis:7.2
    container_name: linkdrop-redis
    restart: always
    ports:
      - "6379:6379"

    volumes:
      - redis-data:/data

    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec

volumes:
  redis-data:
